<launch>

  <!-- Gazebo -->
  <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_house.launch"/>

  <!-- Rosbridge -->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>

  <!-- Navigation -->
  <include file="$(find isar_turtlebot)/launch/navigation.launch"/>

</launch>
