<launch>
  <arg name="world_name" default="house"/>
  <arg name="teleop_controller" default="disabled"/>
  <arg name="initial_pose_x" default="-3.0" />
  <arg name="initial_pose_y" default="1.0" />
  <arg name="x_pos" default="-3.0" />
  <arg name="y_pos" default="1.0" />
  <arg name="z_pos" default="0.0" />

  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>

  <arg name="open_rviz" default="true"/>

  <!-- Gazebo -->
  <include file="$(find isar_turtlebot)/launch/gazebo_turtlebot.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="x_pos" value="$(arg x_pos)"/>
    <arg name="y_pos" value="$(arg y_pos)"/>
    <arg name="z_pos" value="$(arg z_pos)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- Rosbridge -->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>

  <!-- Navigation -->
  <group if="$(eval teleop_controller=='disabled')">
    <include file="$(find isar_turtlebot)/launch/navigation.launch">
      <arg name="map_file" value="$(find isar_turtlebot)/maps/$(arg world_name).yaml"/>
      <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
      <arg name="initial_pose_y" default="$(arg initial_pose_y)"/>
      <arg name="open_rviz" default="$(arg open_rviz)"/>
    </include>
  </group>


  <!-- Teleoperation -->
  <group unless="$(eval teleop_controller=='disabled')">
      <include file="$(find isar_turtlebot)/launch/teleoperation.launch">
        <arg name="teleop_controller" value="$(arg teleop_controller)"/>
      </include>
  </group>


  <!-- Video Stream-->
  <include file="$(find isar_turtlebot)/launch/video_stream.launch"/>
</launch>
